<!DOCTYPE html>
<html>

    {% load static %}
<head>
<title>Book Search Results</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="/static/style.css" type="text/css" />
</head>
<body>
    {% block content %}
    <div id="outer">
      <div id="container">
        <div id="wrap">
          <div id="title"><font color="#660066" size="+6" face="Verdana, Arial, Helvetica, sans-serif">MY BOOK STORE</font></div>
          <div id="header"></div>
          <div id="navcontainer">
            <p></p>
            <p></p>
            
          </div>
          <div class="content">
           
            
            <ul>
            {% if object_list != null %}
                <h1>
                    List of Books
                </h1>
            {% for book in object_list %}
            <li>
                
                <b>Title: </b>{{ book.title}}  <b>Author: </b> {{book.author}}
            </li>
            
            {% endfor %}
            {% else %}

            <h2>No book record exits for the author <b>{{book.author}}</b></h2>

             {% endif %}

            </ul>
            <!-- end page content -->
            

        </div>
    </div>
    <div class="footer">
             
        <ul id="navlist li">
            <a href="/admin/MyBookStore/">Create Book &nbsp;&nbsp;</a> 
           <a href="/home/">Home</a>
           
          </ul>
         
  </div>    
    {% endblock %}
</body>
</html>
